<h4 style="margin: auto; width: 60%; padding-top: 10%;">
    <span style="margin-left: 3rem;"></span>
    Aplikacja służąca do rejestrowania użytkowników. Została stworzona w frameworku Angular 8. Wykorzystuje do zapisu bazę typu no-sql Firebase.
    Dodatkowe elementy wizualne to elementy biblioteki Bootstrap oraz Toastr. W aplikacji nie wykorzystałem Firebase Authentication, walidację
    napisałem ręcznie. Dane użytkowników zapisują się bezpośrednio w bazie danych w zakładce "registered".
</h4>
<h5 style="padding-left: 21%; padding-top: 20px;">Grzegorz Ważny</h5>